.content{
  width: 36%;
  h3{
    font-size: 1em;
    margin: 0;
    font-weight: 400;
  }
  .body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.2em;
  }
  .description{
    text-transform: uppercase;
    font-weight: 500;
  }
  .item{
    text-align: center;
    flex: 0 1 48%;
    svg{
      height: 60px;
      width: 60px;
    }
    p{
      margin-top: .6em;
      line-height: .8;
      text-align: center;
      font-size: 16px;
      span{
        display: block;
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }
}