.header{
  position: relative;
  z-index: 10;
  padding: .9em 0;
  color: var(--primary-color);
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  @media (max-width: 529px) {
    flex-wrap: wrap;
    row-gap: .6em;
  }
}