.footer{
  margin-top: 2em;
  position: relative;
  z-index: 10;
  padding: 1.2em 0;
  color: var(--primary-color);
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}