@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap");
@import 'react-toastify/dist/ReactToastify.css';

:root{
	--primary-color: #292929;
	--secondary-color: #ffffff;
	--background-color: #ffffff;
	--foreground-color: #4CBB17;
	--toggle-bg: #ffffff;
	--toggle-fg: #4CBB17;
	--font_family: "Poppins", sans-serif;
}

[data-theme='dark']{
	--primary-color: #ffffff;
	--secondary-color: #292929;
	--background-color: #292929;
	--foreground-color: #003cfa;
	--toggle-bg: #292929;
	--toggle-fg: #003cfa;
}

$font_family: "Poppins", sans-serif;

//html,
//body,
//#root,
//.wrapper,
//main,
//main > * {
//	overflow-x: hidden;
//	overflow-y: hidden;
//	//height: 100vh;
//	//overflow-y: scroll;
//}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
body{
	margin: 0;
}
main{
	unicode-bidi: normal;
}
.wrapper {
	min-height: 100vh;
	transition: all .3s;
	margin: 0;
	padding: 0 0 .9em 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	color: var(--primary-color)
}
*{
	box-sizing: border-box;
}
a,
button {
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}
input {
	font-family: $font_family;
	padding: 0;
	height: 46px;
	width: 16em;
	display: flex;
	background: none;
	outline: none;
	border: none;
	font-size: 1.1em;
	color: var(--primary-color);
	border-bottom: 2px solid rgba(255, 255, 255, 0.7);
	&::placeholder {
		color: var(--primary-color);
	}
}
button {
	padding: 7px 1em;
	background-color: transparent;
	border: 2px solid var(--primary-color);
	border-radius: 0.3em;
	color: var(--primary-color);
	font-weight: 500;
	font-size: 1em;
	font-family: $font_family;
}
.wrapper {
	background: var(--background-color);
	position: relative;
	//&::before {
	//	content: "";
	//	position: absolute;
	//	width: 100%;
	//	height: 100%;
	//	top: 0;
	//	left: 0;
	//	background: #b5c7f7;
	//	background-size: cover !important;
	//}
}
.container {
	margin: 0 auto;
	max-width: 1250px;
}
.title{
	font-size: 1.77em;
	font-weight: 700;
}

@media (max-width: 1300px) {
	.container{
		max-width: 990px;
	}
}
@media (max-width: 1024px) {
	.wrapper{
		font-size: 16px;
	}
	.container{
		max-width: 738px;
	}
}
@media (max-width: 768px) {
	.wrapper{
		font-size: 15px;
	}
	.container{
		padding: 0 15px;
		max-width: 100%;
	}
}